.button {
  cursor: pointer;
  background-color: #212830;
  border: 1px solid #3d444d;
  border-radius: 6px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;
  color: white;
  transition: all 0.2s ease;
  width: 100%;
  height: auto;
}

.button:hover {
  background-color: #262c36;
}

.danger {
  background-color: #e74c3c;
}

.danger:hover {
  background-color: #c0392b;
}
