* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
  font-family: "Pretendard";
  background-color: #0d1116;
  color: #f0f6fc;
  min-height: 100vh;
  scrollbar-gutter: stable; /* 이동할때만 스크롤바가 보이도록 설정 */
}

#root {
  min-height: 100vh;
}

@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
