/* 토글 버튼 전체 스타일 */
.languageToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 8px 16px;
}

.toggleBtn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  gap: 0.2rem;
  color: #fff;
  padding: 0;
}
.globeIcon {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.langText,
.langTextInactive {
  display: inline-block;
  width: 2ch;
  text-align: center;
  position: relative;
  transition: opacity 0.25s, transform 0.25s;
}

.langText {
  font-weight: 600;
}

.langTextInactive {
  color: #383838;
  font-weight: 600;
}

.fade.langText {
  opacity: 0;
  transform: translateX(8px);
}

.fade.langTextInactive {
  opacity: 0;
  transform: translateX(-8px);
}

.langDivider {
  position: relative;
  top: -2px;
  color: #383838;
  margin: 0 0.2rem;
  font-size: 26px;
  font-weight: 600;
}
