.landing {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 100px;
  background-color: rgba(10, 10, 10, 0.8);
  border: 1px solid #444c56;
  border-radius: 16px;
  padding: 40px 100px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

/* 미디어쿼리 넣어서 반응형 디자인 적용 */
/* landing 클래스를 display block으로 변경 */

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 400px;
  min-width: 350px;
  pointer-events: auto;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtitle {
  font-size: 18px;
  line-height: 1.6;
}

.heroVisual {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 50%;
  border: 1px solid #3d444d;
  border-radius: 8px;
  pointer-events: auto;
}
