.landing {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 56px;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 400px;
  min-width: 350px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleAccent {
}

.subtitle {
  font-size: 20px;
  line-height: 1.6;
}

.heroVisual {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 50%;
  border: 2px solid #ccc;
}
