.header {
  background-color: #02040a;
  border-bottom: 1px solid #3d444d;
  position: relative;
  justify-content: center;
  top: 0;
  height: 10vh;
  z-index: 100;
}

.container {
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  color: #f0f6fc;
}

.nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navLink {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 24px;
  transition: all 0.2s ease;
  color: #f0f6fc;
}

.navLink:hover {
  background: #262c36;
  transition: ease-in-out 0.2s;
}

.navLink.active {
  background: #313946;
  transform: scale(0.95);
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #333;
}

.userName {
  font-size: 24px;
  font-weight: 600;
}

.logoutButton {
  color: #f0f6fc;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
